<!DOCTYPE html>
<html>
  <head>
    <title>Bowling Alley</title>
  </head>
  <body>
    <h1>Buste's Best Bowling Alley</h1>
    <h2>Bet you can't bowl a strike everytime!</h2>
    <p></p>
  </body>
</html>